/* .formWrapper {

}

.formContent {

} */

.backButton {
  margin-bottom: 1rem;
  width: 36px;
  height: 36px;
  background-color: var(--bg-surface-hover);
  color: var(--text-secondary);
}
.backButton:hover {
  background-color: var(--border-color);
  color: var(--text-primary);
}
.backButton svg {
  width: 20px;
  height: 20px;
}
